.container {
    max-width: 600px;
    margin: auto;
  }
  
  h2 {
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
  }
  
  h5 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .btn-primary {
    width: 200px;
  }
  