
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <h1>Login</h1>
        <p>Please fill in this form to Login to your account.</p>
        <hr>

        <label for="loginID"><b>Login ID</b></label>
        <input formControlName="loginID" type="text" placeholder="Enter Login ID" name="loginID" id="loginID" required>
  
        <label for="password"><b>Password</b></label>
        <input formControlName="password" type="password" placeholder="Enter Password" name="password" id="password" required>
  
        <button type="submit" class="loginbtn">Login</button>
    </div>
  
    <div class="container signUp">
        <p>Don't have an account? <a routerLink="/register">Sign Up</a>.</p>
        <p> Forgot <a routerLink="/forgot-password"> password </a>? or Forgot <a routerLink="/forgot-username"> UserName</a>?</p>
    </div>
</form>