<div class="container">
    <h2>Add Movie</h2>
    <form [formGroup]="movieForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="movieName">Movie Name:</label>
        <input type="text" id="movieName" class="form-control" formControlName="movieName">
      </div>
      <div class="form-group">
        <label for="theatreName">Theatre Name:</label>
        <input type="text" id="theatreName" class="form-control" formControlName="theatreName">
      </div>
      <button class="btn btn-primary" type="submit">Add Movie</button>
    </form>
  </div>
  