.container {
    margin-top: 20px;
}


.avatar-circle {
    width: 45px;
    height: 45px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initials {
    text-transform: uppercase;
}
.card {
    transition: transform .2s; /* Animation */
}

.card:hover {
    transform: scale(1.05); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
